<?php /** @noinspection PhpUnused */

namespace App\Entity\Xxxxx;

use App\Entity\Extension\Annotation as AppORM;
use App\Entity\Extension\Attributable\AttributableEntity;
use App\Entity\Extension\Attributable\CategoryInterface;
use App\Entity\Extension\Attributable\CategoryTrait;
use App\Entity\Extension\Traits\BlameableEntityTrait;
use App\Entity\Extension\Traits\TimestampableEntityTrait;
use App\Repository\Xxxxx\XxxxxCategoryRepository;
use Doctrine\Common\Collections\ArrayCollection;
use Doctrine\Common\Collections\Collection;
use Doctrine\ORM\Mapping as ORM;
use Gedmo\Mapping\Annotation as Gedmo;

/**
 * @Gedmo\Tree(type="nested")
 * @ORM\Entity(repositoryClass=XxxxxCategoryRepository::class)
 */
class XxxxxCategory implements CategoryInterface
{
    use CategoryTrait, TimestampableEntityTrait, BlameableEntityTrait;

    /**
     * Make first because a tree view
     * @ORM\Column(type="string", length=32)
     * @AppORM\Element(sortOrder="0")
     */
    private string $name;

    /**
     * @Gedmo\TreeParent
     * @ORM\ManyToOne(targetEntity="App\Entity\Xxxxx\XxxxxCategory", inversedBy="children", fetch="EAGER")
     * @ORM\JoinColumn(name="parent_id", referencedColumnName="id", onDelete="CASCADE")
     * @AppORM\Element(sortOrder="2")
     */
    private ?CategoryInterface $parent = null;

    /**
     * @Gedmo\TreeRoot
     * @ORM\ManyToOne(targetEntity="App\Entity\Xxxxx\XxxxxCategory")
     * @ORM\JoinColumn(name="tree_root", referencedColumnName="id", onDelete="CASCADE")
     */
    private ?CategoryInterface $root;

    /**
     * @ORM\OneToMany(targetEntity="App\Entity\Xxxxx\XxxxxCategory", mappedBy="parent")
     * @ORM\OrderBy({"lft" = "ASC"})
     */
    private Collection $children;

    /**
     * @ORM\OneToMany(targetEntity="App\Entity\Xxxxx\XxxxxAttribute", mappedBy="category")
     */
    private Collection $attributes;

    /**
     * @ORM\OneToMany(targetEntity="App\Entity\Xxxxx\Xxxxx", mappedBy="category")
     */
    private Collection $xxxxxs;

    /**
     * @return Collection<AttributableEntity>
     */
    public function getXxxxxs(): Collection
    {
        return $this->xxxxxs;
    }

    /**
     * @param Collection<AttributableEntity> $xxxxxs
     * @return XxxxxCategory
     */
    public function setXxxxxs(Collection $xxxxxs): XxxxxCategory
    {
        $this->xxxxxs = $xxxxxs;
        return $this;
    }

    public function isDeletable(): bool
    {
        return $this->getAttributes()->count() === 0 && $this->getXxxxxs()->count() === 0;
    }

    public function __construct()
    {
        $this->attributes = new ArrayCollection();
        $this->children = new ArrayCollection();
        $this->xxxxxs = new ArrayCollection();
    }
}
   