{% extends 'base.html.twig' %}

{% block title %}Create an User{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Create an User</h1>
        {% if error is defined and error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}
