<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Page Heading-->
        <div class="d-flex align-items-center flex-wrap mr-2">

            <!--begin::Page Title-->
            {% if title is defined %}
                <h5 class="text-dark font-weight-bold my-1 mr-5">{{ title|title }}</h5>
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            {% endif %}
            <!--end::Page Title-->
            {# echo $this->navigation()->breadcrumbs()->setUseAcl(false)->setPartial('navigation/breadcrumbs'); #}

        </div>
        <!--end::Page Heading-->
        <!--begin::Toolbar-->
        {% if toolbar is defined %}
        <div class="d-flex align-items-center">
            <!--begin::Actions-->
            {# <?= $this->render($this->toolbar) ?> #}
            <!--end::Actions-->
        </div>
        {% endif %}
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->